[Unit]
Description=Romassist server.

[Service]
Type=simple
ExecStart=su kiddo -c '/home/kiddo/proj/ra3/out/romassist --dbroot=/home/kiddo/proj/ra3/data --htdocs=/home/kiddo/proj/ra3/src/www --menu=/home/kiddo/proj/ra3/out/romassist-menu --no-terminable --poweroff --public-port=8080 < /dev/null'

[Install]
WantedBy=multi-user.target
