html {
  background-color: #444;
  color: #fff;
  font-family: sans-serif;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
}

.hidden {
  display: none;
}

.modalBlotter {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modalContainer {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.modal {
  min-width: 100px;
  min-height: 100px;
  max-width: 90vw;
  max-height: 90vh;
  background-color: #fff;
  color: #000;
  border-radius: 0.5em;
  border: 1px solid #000;
  box-shadow: #000 0 0 1em;
  pointer-events: initial;
  padding: 0.5em;
}

.errorMessage {
  background-color: #fff;
  border: 1px solid #f00;
  color: #800;
  padding: 0.5em;
}

/* RootUi.
 *************************************************************/
 
.RootUi {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.RootUi > .main {
  width: 100%;
  height: 100%;
}

.RootUi > .main > * {
  width: 100%;
  height: 100%;
}

/* NavBarUi.
 *********************************************************/
 
.NavBarUi {
  border-bottom: 1px solid #000;
}

.NavBarUi ul.tabBar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.NavBarUi ul.tabBar > li {
  background-color: #444;
  color: #ccc;
  margin: 0.5em;
  padding: 0.25em;
  border: 1px solid #000;
  margin-bottom: 0;
  border-bottom: 0;
  cursor: pointer;
  user-select: none;
}

.NavBarUi ul.tabBar > li.selected {
  background-color: #008;
  color: #fff;
}

/* SearchUi.
 *****************************************************/
 
.SearchUi {
}

/* NowPlayingUi.
 *****************************************************/
 
.NowPlayingUi {
}

/* DbUi.
 *****************************************************/
 
.DbUi {
}

.DbTableUi {
  padding: 0.5em 1em;
}

.DbTableUi > .card {
  border: 1px solid #000;
}

.DbTableUi > .card > .header {
  background-color: #006;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DbTableUi > .card > .header > .spacer {
  flex: 1;
}

.DbTableUi > .card > .header > .pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.DbTableUi > .card > .header > .pager > .text {
  margin: 0 1em;
}

.DbTableUi input.openToggle {
  margin-left: 0.5em;
}

.DbTableUi > .card > .togglePanel {
  padding: 0.5em 1em;
  background-color: #ccc;
  color: #000;
}

.DbTableUi pre.record {
  cursor: pointer;
  margin: 0;
}
.DbTableUi pre.record:nth-child(even) {
  background-color: #ddd;
}
.DbTableUi pre.record:nth-child(odd) {
  background-color: #bbb;
}
.DbTableUi pre.record:hover {
  background-color: #ff0;
}

.DbRecordModal {
  min-width: 60vw;
}

.DbRecordModal table {
  width: 100%;
}

.DbRecordModal .key {
  text-align: right;
}

.DbRecordModal table input {
  width: 100%;
}

.DbRecordModal .buttonsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* AdminUi.
 *****************************************************/
 
.AdminUi {
}
