html {
  background-color: #444;
  color: #fff;
  font-family: sans-serif;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
}

.hidden {
  display: none;
}

.modalBlotter {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modalContainer {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.modal {
  min-width: 100px;
  min-height: 100px;
  max-width: 90vw;
  max-height: 90vh;
  background-color: #fff;
  color: #000;
  border-radius: 0.5em;
  border: 1px solid #000;
  box-shadow: #000 0 0 1em;
  pointer-events: initial;
  padding: 0.5em;
}

.errorMessage {
  background-color: #fff;
  border: 1px solid #f00;
  color: #800;
  padding: 0.5em;
}

/* RootUi.
 *************************************************************/
 
.RootUi {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.RootUi > .main {
  width: 100%;
  height: 100%;
}

.RootUi > .main > * {
  width: 100%;
  height: 100%;
}

/* NavBarUi.
 *********************************************************/
 
.NavBarUi {
  border-bottom: 1px solid #000;
}

.NavBarUi ul.tabBar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.NavBarUi ul.tabBar > li {
  background-color: #444;
  color: #ccc;
  margin: 0.5em;
  padding: 0.25em;
  border: 1px solid #000;
  margin-bottom: 0;
  border-bottom: 0;
  cursor: pointer;
  user-select: none;
}

.NavBarUi ul.tabBar > li.selected {
  background-color: #008;
  color: #fff;
}

/* SearchUi.
 *****************************************************/
 
.SearchUi {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.SearchUi > .SearchFormUi {
  background-color: #222;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #000;
}

.SearchFormUi.dirty {
  background-color: #542;
}

.SearchFormUi > form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.SearchFormUi input {
  width: 95%;
}

.SearchFlagsUi .toggle {
  background-color: #bbb;
  width: 2em;
}
.SearchFlagsUi .toggle.on {
  background-color: #0f0;
}
.SearchFlagsUi .toggle.off {
  background-color: #f00;
}

.LoHiUi {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.LoHiUi > .caption {
  flex: 1;
  text-align: right;
}

.LoHiUi > input {
  width: 5em;
  margin: 0 0.5em;
}

.SearchUi > .SearchResultsUi {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.SearchUi > .SearchResultsUi > .ribbon {
  background-color: #111;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.SearchUi > .SearchResultsUi > .ribbon > input {
  margin: 0.5em 1em;
}

.SearchUi > .SearchResultsUi > .ribbon > .message {
  margin: 0.5em 1em;
  flex: 1;
  text-align: center;
}

.SearchUi > .SearchResultsUi > .ribbon > .message > input {
  margin-left: 0.5em;
}

.SearchUi > .SearchResultsUi > .field {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.SearchResultCard {
  min-width: 200px;
  min-height: 100px;
  display: flex;
}

.SearchResultCard > .cardBody {
  flex: 1;
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
  border-radius: 0.5em;
  margin: 0.25em;
  cursor: pointer;
  padding: 0.5em;
  font-size: 10pt;
}

.SearchResultCard .name {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.SearchResultCard .name > .text {
  flex: 1;
}

.SearchResultCard .name > img {
  flex: 0;
}

.SearchResultCard .imageRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.SearchResultCard .imageRow > div {
  flex: 1;
}

.SearchResultCard .ratingRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.SearchResultCard .ratingRow .banner {
  background-color: #888;
  flex: 1;
  margin-left: 0.25em;
}

.SearchResultCard .thumbnail {
  max-width: 40%;
  min-height: 2em;
  max-height: 50%;
  margin-right: 0.25em;
  object-fit: contain;
}

/* NowPlayingUi.
 *****************************************************/
 
.NowPlayingUi {
}

/* DbUi.
 *****************************************************/
 
.DbUi {
}

.DbTableUi {
  padding: 0.5em 1em;
}

.DbTableUi > .card {
  border: 1px solid #000;
}

.DbTableUi > .card > .header {
  background-color: #006;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DbTableUi > .card > .header > .spacer {
  flex: 1;
}

.DbTableUi > .card > .header > .pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.DbTableUi > .card > .header > .pager > .text {
  margin: 0 1em;
}

.DbTableUi .header > input {
  margin-left: 0.5em;
}

.DbTableUi > .card > .togglePanel {
  padding: 0.5em 1em;
  background-color: #ccc;
  color: #000;
}

.DbTableUi pre.record {
  cursor: pointer;
  margin: 0;
}
.DbTableUi pre.record:nth-child(even) {
  background-color: #ddd;
}
.DbTableUi pre.record:nth-child(odd) {
  background-color: #bbb;
}
.DbTableUi pre.record:hover {
  background-color: #ff0;
}

.DbRecordModal {
  min-width: 60vw;
}

.DbRecordModal table {
  width: 100%;
}

.DbRecordModal .key {
  text-align: right;
}

.DbRecordModal table input {
  width: 100%;
}

.DbRecordModal .buttonsRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* AdminUi.
 *****************************************************/
 
.AdminUi {
}

/* GameDetailsModal.
 ******************************************************/
 
.GameDetailsModal {
}

.GameDetailsModal .columner {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  overflow-y: auto;
  max-height: 80vh;
}

.GameDetailsModal .columner > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.GameHeaderForm {
  min-width: 430px; /* Just wide enough to put flags all in one row (not that that really matters) */
}

.GameHeaderForm td.value > input {
  width: calc(100% - 8px);
}

.GameCommentsForm {
}

.GameCommentsForm .commentList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.GameCommentsForm .commentList > li {
  border-bottom: 1px solid #888;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.GameCommentsForm .commentList .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10pt;
}

.GameCommentsForm table {
  width: 100%;
}

.GameCommentsForm textarea {
  width: 100%;
}

.GamePlaysForm {
}

.GamePlaysForm ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.GamePlaysForm li {
  cursor: pointer;
}

.GameListsForm {
}

.GameListsForm .mainRow {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.GameListsForm .well {
  flex: 1;
  min-height: 200px;
}

.GameListsForm .well h3 {
  margin: 0;
  text-align: center;
}

.GameListsForm .well select {
  width: 100%;
  height: 90%;
}

.GameListsForm .separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0 0.5em;
}

.GameBlobsForm {
  display: flex;
  flex-direction: column;
}

.GameBlobsForm img {
  cursor: pointer;
}

/* ListsUi.
 ******************************************************************/
 
.ListsUi {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.ListsUi > .listsList {
  min-width: 200px;
  border-right: 1px solid #000;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ListsUi > .listsList > li {
  color: #000;
  cursor: pointer;
}
.ListsUi > .listsList > li:nth-child(even) {
  background-color: #bbb;
}
.ListsUi > .listsList > li:nth-child(odd) {
  background-color: #aac;
}
.ListsUi > .listsList > li.selected {
  background-color: #ff0;
}

.ListsUi > .vertPacker {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.ListsUi .header {
  border-bottom: 1px solid #000;
}

.ListsUi .header table {
  width: 100%;
}

.ListsUi td.key {
  text-align: right;
  padding-right: 1em;
}

.ListsUi .header input[type="text"] {
  width: 500px;
}

.ListsUi .payload {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}
.ListsUi .payload > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ListsUi h3 {
  text-align: center;
}

.ListsUi .gamesPresent {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 700px;
  overflow-y: auto;
}

.ListsUi .gamesPresent li {
  cursor: pointer;
  color: #000;
  display: flex;
  flex-direction: row;
}
.ListsUi .gamesPresent li:nth-child(even) {
  background-color: #aac;
}
.ListsUi .gamesPresent li:nth-child(odd) {
  background-color: #bbb;
}

.ListsUi .gamePresent {
  width: 100%;
  cursor: pointer;
}

.QuickieSearchUi {
  flex: 1;
}

.QuickieSearchUi > form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
}

.QuickieSearchUi .results {
  flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #aaa;
  color: #000;
  max-height: 700px; /* TODO There must be some better way to keep this from growing beyond the bottom of the window */
  overflow-y: auto;
}

.QuickieSearchUi .results li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

/* HistogramUi
 **********************************/
 
.HistogramUi .reportRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.HistogramUi .reportCol {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;
}

.HistogramUi .ratingChart {
  width: 100%;
  height: 200px;
}

/* CompraterUi
 *************************************/
 
.CompraterUi {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.CompraterUi .bucketColumn {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  border-right: 1px solid #000;
}
.CompraterUi .bucketColumn.left {
  border-left: 1px solid #000;
}
.CompraterUi .bucketColumn.tooMany {
  background-color: #533;
}

.CompraterUi .bucketColumn .header {
  background-color: #888;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.CompraterUi .nav {
  display: flex;
  flex-direction: column;
}

.CompraterUi .thumbnail {
  height: 100px;
  border: 1px solid #000;
  font-size: 9pt;
  text-align: center;
  cursor: pointer;
}

.CompraterUi .thumbnail > .name {
  word-break: none;
}

.CompraterUi .thumbnail > img {
  max-height: calc(100% - 2em);
}

/* CompraterQuickieModal
 ******************************************/
 
.CompraterQuickieModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}
 
.CompraterQuickieModal .name {
  margin: 0;
}

.CompraterQuickieModal .rating {
  font-size: 60pt;
}

.CompraterQuickieModal .rating .cursor {
  background-color: #00ffff;
}
